<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Upload Photo</title>
    <link rel="stylesheet" href="/static/styles/upload_cert.css">
</head>
<body>
<div class="text">
    <div class="disp"><h1 class="click">Click</h1></div>
    <div class="disp"><h1 class="tap">Tap</h1></div>
    <div class="disp"><h1 class="to">to upload</h1></div>
    <div class="disp"><h1 class="cert">Selfie</h1></div>
    <div class="disp"><h1 class="load">File Uploading</h1></div>
</div>
<section class="bg1">
        <form name="pic_form" action="" method="POST" enctype="multipart/form-data">
            <input type="file" name="pic" id="pic" accept="image/*" style="display:none">
        </form>
</section>

<script type="text/javascript" src="{{ url_for('static', filename = 'js/script_cert.js') }}"></script>
</body>
</html>
