body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
    cursor: pointer;
    overflow: hidden;
}
.body--load{
    cursor: wait;
}
.bg{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg {
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}
.bg1{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bg1{
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: blanchedalmond;
    background-attachment: fixed;
    z-index: -1;
}

.bg2{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: auto;
}
.bg2{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    display: flex;
    flex-direction: column;
}


#download:link, #retry:link{
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 3vh;
    font-weight: bold;
    white-space: normal;
}

#download:hover, #retry:hover{
    color: #9C1A1C;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 3vh;
    font-weight: bold;
    white-space: normal;
}
#download:visited{
    color: darkblue;
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 3vh;
    font-weight: bold;
    white-space: normal;
}

.text{
    text-align: center;
    font-family: "Courier New", monospace;
    font-size: 2vw;
    font-weight: bold;
    white-space: normal;
    color: #9C1A1C;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.click{display: block;}
.tap {display: none;}
.load{display: none;}
.click--load, .to--load, .cert--load{
    display: none;
}
.load--load{
    margin-top: 10%;
    margin-bottom: 10% ;
    padding-bottom: 10%;
    padding-top: 10%;
    animation: pulsate 2.4s linear infinite;
    display: block;
}


@media screen and (max-width: 768px){
    .click{display: none;}
    .tap{display: block}
    .tap--load, .to--load, .cert--load{
        display: none;
    }
    .text{
        text-align: center;
        font-family: "Courier New", monospace;
        font-size: 6vmin;
        font-weight: bold;
        white-space: normal;
        color: #9C1A1C;
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
    }
    .disp{
        height: 100vh;
        width: 100vw;
    }
}

@keyframes pulsate{
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.6;
    }
    50% {
        opacity: 0.4;
    }
    75% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

.resp-sharing-button__link,
.resp-sharing-button__icon {
    display: inline-block
}

.resp-sharing-button__link {
    text-decoration: none;
    color: #fff;
    margin: 0.5em
}

.resp-sharing-button {
    border-radius: 5px;
    transition: 25ms ease-out;
    padding: 0.5em 0.75em;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    vertical-align: top
}

.resp-sharing-button--small svg {
    margin: 0;
    vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
    stroke: #fff;
    fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
    fill: #fff;
    stroke: none
}

.resp-sharing-button--twitter {
    background-color: #55acee
}

.resp-sharing-button--twitter:hover {
    background-color: #2795e9
}

.resp-sharing-button--pinterest {
    background-color: #bd081c
}

.resp-sharing-button--pinterest:hover {
    background-color: #8c0615
}

.resp-sharing-button--facebook {
    background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
    background-color: #2d4373
}

.resp-sharing-button--tumblr {
    background-color: #35465C
}

.resp-sharing-button--tumblr:hover {
    background-color: #222d3c
}

.resp-sharing-button--reddit {
    background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
    background-color: #3a80c1
}

.resp-sharing-button--google {
    background-color: #dd4b39
}

.resp-sharing-button--google:hover {
    background-color: #c23321
}

.resp-sharing-button--linkedin {
    background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
    background-color: #046293
}

.resp-sharing-button--email {
    background-color: #777
}

.resp-sharing-button--email:hover {
    background-color: #5e5e5e
}

.resp-sharing-button--xing {
    background-color: #1a7576
}

.resp-sharing-button--xing:hover {
    background-color: #114c4c
}

.resp-sharing-button--whatsapp {
    background-color: #25D366
}

.resp-sharing-button--whatsapp:hover {
    background-color: #1da851
}

.resp-sharing-button--hackernews {
    background-color: #FF6600
}
.resp-sharing-button--hackernews:hover, .resp-sharing-button--hackernews:focus {   background-color: #FB6200 }

.resp-sharing-button--vk {
    background-color: #507299
}

.resp-sharing-button--vk:hover {
    background-color: #43648c
}

.resp-sharing-button--twitter {
    background-color: #55acee;
    border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
    background-color: #2795e9;
    border-color: #2795e9;
}

.resp-sharing-button--linkedin {
    background-color: #0077b5;
    border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
    background-color: #046293;
    border-color: #046293;
}

.resp-sharing-button--reddit {
    background-color: #ff4500;
    border-color: #ff4500;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
    background-color: #cc4522;
    border-color: #cc4522;
}

.resp-sharing-button--whatsapp {
    background-color: #25D366;
    border-color: #25D366;
}

.resp-sharing-button--whatsapp:hover,
.resp-sharing-button--whatsapp:active {
    background-color: #1DA851;
    border-color: #1DA851;
}

.resp-sharing-button--telegram {
    background-color: #54A9EB;
}

.resp-sharing-button--telegram:hover {
    background-color: #4B97D1;}

.share{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
